<!DOCTYPE html>
<html lang="fa">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Contact Us | تماس با ما</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bs/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/MasterFinal.css' %}">
  <link rel="stylesheet" href="{% static 'css/neededtelegram.css' %}">
  <script src="{% static 'js/bs/jquery.min.js' %}"></script>
  <script src="{% static 'js/bs/popper.min.js' %}"></script>
  <script src="{% static 'js/bs/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/getCheckCookie.js' %}"></script>

</head>

<body onload="checkCookie()">

    <button onclick="topFunction()" class="farsialignment" id="goToTopBtn" title="Go to top">
      <span class="english"> UP</span><span class="farsi"> بالا</span>
      <img src="{% static 'img/chevron-top.svg' %}" alt="" width="15px">
    </button>
  
    <!--Fixed top navbar-->
    <nav class="sticky-top navbar navbar-expand-lg navbar-orgcolor bg-orgcolor">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navContent navbar-collapse" style="flex-grow:0 !important;-webkit-flex-grow: 0 !important;">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href={% url 'Home' %}><b style="font-size:25px;font-family: 'Lato', sans-serif !important">NJL</b></a>
          <ul class="navbar-nav headerItem r-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href={% url 'aboutUs' %}><img src="{% static 'img/webicon/Blue Outline Version/about-W.png' %}" alt="" width="30px"><span class="english">About</span><span class="farsi">درباره ما</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img\webicon\Blue Outline Version\Rprogram-W.png' %}" alt="" width="30px"><span class="english">General Courses</span><span class="farsi">دوره ها</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href={% url 'KIDS' %}><span class="english">Kids</span><span class="farsi">کودکان</span></a>
                <a class="dropdown-item" href={% url 'teens' %}><span class="english">Teenagers</span><span class="farsi">نوجوانان</span></a>
                <a class="dropdown-item" href={% url 'adults' %}><span class="english">Adults</span><span class="farsi">بزرگسالان</span></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img\webicon\Blue Outline Version\Sprogram-W.png' %}" alt="" width="30px"><span class="english">Exams</span><span class="farsi">آزمون ها</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href={% url 'ielts' %}>IELTS</a>
                <a class="dropdown-item" href={% url 'toefl' %}>TOEFL</a>
                <a class="dropdown-item" href={% url 'ept' %}>EPT</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'ttc' %}><img src="{% static 'img/webicon/Blue Outline Version/TTC-W.png' %}" alt="" width="30px"><span>TTC</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'resources' %}><img src="{% static 'img/webicon/Blue Outline Version/resources-W.png' %}" alt="" width="30px"><span class="english">Resources</span><span class="farsi">منابع</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'contactUs' %}><img src="{% static 'img/webicon/Blue Outline Version/iphone-W.png' %}" alt="" width="30px"><span class="english">Contact Us</span><span class="farsi">تماس با ما</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'E' %}><img src="{% static 'img/webicon/Blue Outline Version/Onlinelearning-W.png' %}" alt="" width="30px"><span class="english">Online Learning</span><span class="farsi">آموزش از راه دور</span></a>
            </li>
            <li class="nav-item">
              <a id="loginbuttonnobodypage" class="nav-link" href="http://njldistancelearning.com/login/index.php">
              <button id="loginbutton"type="button" class="btn btn-outline-white">
                <div class="navbar-link">
                  <img id="myimg" src="{% static 'img/webicon/Blue Outline Version/Lock.png' %}" alt="" width="30px"><span class="english"> Login to LMS</span><span class="farsi">ورود به LMS</span>
                </div>
              </button>
          </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header>
      <!--banner & logo and Page title-->
      <div style="align-items: center; position: relative">
        <div id="DiscOverImg">
          <h1 class="english">Contact Us</h1>
          <h1 class="farsi" style="text-align: center !important">تماس با ما</h1>
        </div>
        <img id="fitImg" src="{% static 'img/banner.png' %}" alt="BannerImage">
        <div id="logoOverlap">
          <img class="imglogo" src="{% static 'img/njl_Institute_Logo.png' %}" alt="Logo Image">
        </div>
        </div>
    </header>

  <div class="container maincommenbody">
    <div>
      <!--   Title of body   -->
      <h2 class="english" style="text-align:center">Contact us via ways below</h2>
      <h2 class="farsi" style="text-align:center">از راه های زیر با ما ارتباط برقرار کنید</h2>
      <h3 class="english" style="text-align:center"></h3>
      <h3 class="farsi" style="text-align:center"></h3>
    </div>
    <div class="farsialignment" id="contactusbody">
      <!--   text of body   -->
      <p><img src="{% static 'img\contactus\023-worldwide.png' %}" alt="Address"><span class="english"><b>Address: </b><span>Nedaye Javid Language Institute, No.8, Roshan St, Derakhshani St, Upper than Bagh-e-Feys cross, Ashrafi Esfahani Expy, Tehran, Iran.</span></span><span class="farsi"><b>آدرس: </b>تهران - بلوار اشرفي اصفهاني - بالاتر از تقاطع باغ فيض - كوچه شهيد درخشانی - کوچه روشن - پلاك 8 - موسسه زبان ندای جاوید</span></p>
      <p><img src="{% static 'img\contactus\032-placeholder.png' %}" alt="Postalcode"><span class="english">Postalcode : 1461935811</span><span class="farsi">کد پستی : ۱۴۶۱۹۳۵۸۱۱</span></p>
      <p><img src="{% static 'img\contactus\028-telephone-2.png' %}" alt="Telephone">
        <span class="english">Telephone:  <a class="btn btn-outline-orgcolor" href="tel:+98-21-4425-7364">(021) 44257364</a> | <a class="btn btn-outline-orgcolor" href="tel:+98-938-637-9084">(0938) 6379084</a></span>
        <span class="farsi">شماره تلفن: <a class="btn btn-outline-orgcolor" href="tel:+98-21-4425-7364">۴۴۲۵۷۳۶۴ (۰۲۱)</a> | <a class="btn btn-outline-orgcolor" href="tel:+98-938-637-9084">۶۳۷۹۰۸۴ (۰۹۳۷)</a></span></p>
      <p><img src="{% static 'img\contactus\009-fax.png' %}" alt="Fax"><span class="english">Fax Number: <a class="btn btn-outline-orgcolor" href="fax:+98.21.42695697">(021) 42695697</a></span><span class="farsi">دورنگار : <a class="btn btn-outline-orgcolor" href="fax:+98.21.42695697">۴۲۶۹۵۶۹۷ (۰۲۱)</a></span></p>
      <p><img src="{% static 'img\contactus\040-sms.png' %}" alt="SMS"><span class="english">SMS Number: <a class="btn btn-outline-orgcolor" href="sms:+98-938-637-9084">(0938) 6379084</a></span><span class="farsi">شماره پيامک : <a class="btn btn-outline-orgcolor" href="sms:+98-938-637-9084">۶۳۷۹۰۸۴ (۰۹۳۷)</a></span></p>
      <p><img src="{% static 'img\contactus\025-arroba.png' %}" alt="Email"><span class="english">Email: <a class="btn btn-outline-orgcolor" href="mailto:info@njl.institute">info@njl.institute</a></span><span class="farsi">رايانامه : <a class="btn btn-outline-orgcolor" href="mailto:info@njl.institute">info@njl.institute</a></span></p>
      <p><img src="{% static 'img\contactus\019-message.png' %}" alt="Telegram"><span class="english">Telergam: <a class="btn btn-outline-orgcolor" href="https://t.me/njl_institute">Send a Message</a></span><span class="farsi">تلگرام : <a class="btn btn-outline-orgcolor" href="https://t.me/njlinstitute">ارسال پیام</a></span></p>
    </div>
  </div>


  <footer id="footerAttr">
      <div class="container-fluid row">
        <!--Footer 1st colomn-->
        <div class="container col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <h3 class="english">Find us here!</h3>
          <h3 class="farsi" style="text-align:center">ما را اینجا پیدا کنید!</h3>
          <div id="map"></div>
          <div class="english" style="text-align:Left;width:300px;margin-right:auto;margin-left:auto">
            <b>Address:</b> NJL Institute, Derakhshani St, Ashrafi Esfahani Expy, Tehran, Iran.
          </div>
          <div class="farsi" style="text-align:right;width:300px;margin-right:auto;margin-left:auto">
            <b>آدرس: </b>تهران، بزرگراه اشرفی اصفهانی، کوچه درخشانی، موسسه زبان ندای جاوید 
          </div>
          <script>
            function initMap() {
              var mapboarder = {
                lat: 35.744124,
                lng: 51.336588
              };
              var markerr = {
                lat: 35.744255,
                lng: 51.334723
              };
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: markerr
              });
              var marker = new google.maps.Marker({
                position: mapboarder,
                map: map
              });
            }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPodOx_4C8n3TrzngrizGFUAm--Dgav7o&callback=initMap">
          </script>
        </div>
        <!--Footer 2nd colomn-->
        <div class="container col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <h3 class="english">Message us here!</h3>
          <h3 class="farsi" style="text-align:center">اینجا به ما پیام دهید!</h3>
          <!-- TELEGRAM PART-->
          <div class="telegramDiv">
            <div class="tgme_page tgme_page_post">
              <div class="tgme_page_photo">
                <a href="tg://resolve?domain=njlinstitute">
                  <img class="tgme_page_photo_image" src="{% static 'img/telegramnjl.png' %}">
                </a>
              </div>
              <div class="tgme_page_title">
                آموزشگاه زبان ندای جاوید
              </div>
              <div class="tgme_page_extra">63 members</div>
              <div class="tgme_page_description">ارتباط با روابط عمومی
                <br>
                <a href="https://t.me/njl_institute">@njl_institute</a>
                <br>وب سایت
                <br>www.njl.institute
                <br>
                <br>پنل آموزش از راه دور
                <br>www.njldistancelearning.com
                <br>
                <br>کانال های تخصصی آموزشگاه زبان ندای جاوید
                <br>
                <a href="https://t.me/njlkids">@njlkids</a>
                <a href="https://t.me/njlteens">@njlteens</a>
                <a href="https://t.me/njladults">@njladults</a>
                <br>
                <br>
                <a href="https://t.me/njlttc">@njlttc</a>
                <a href="https://t.me/njlept">@njlept</a>
                <br>
                <br>
                <a href="https://t.me/njldistancelearning">@njldistancelearning</a>
              </div>
              <div class="tgme_page_action">
                <a class="tgme_action_button_new" href="tg://resolve?domain=njlinstitute">View Channel</a>
              </div>
              <!-- WEBOGRAM_BTN -->
              <div class="tgme_page_additional">
                If you have
                <strong>Telegram</strong>, you can view and join
                <br>
                <strong>آموزشگاه زبان ندای جاوید</strong> right away.
              </div>
            </div>
          </div>
        </div>
        <!--Footer 3rd colomn-->
        <div class="container col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <h3 class="farsi" style="text-align:center">!Change the Language Here</h3>
          <h3 class="english" style="text-align:center">!اینجا زبان را تغییر دهید</h3>
          <div class="btn-group" style="margin-top:8px;">
            <button type="button" class="btn btn-outline-white dropdown-toggle" data-toggle="dropdown">
              <span class="english">Site Language</span><span class="farsi">زبان سایت</span>
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" onclick="changelang2fa()"><img style="width:20px"src="{% static 'img/ir.svg' %}" alt="ir-icon"> فارسی</button>
              <button class="dropdown-item" onclick="changelang2en()"><img style="width:20px"src="{% static 'img/gb.svg' %}" alt="ir-icon"> English</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--copyright-->
    <div id="copyright">
      | Designed & Developed by <a href="https://www.linkedin.com/in/imananoosheh/">Iman Anoosheh</a> & <a href="https://www.linkedin.com/in/ali-yazdanpanah-5a7b10146">Ali Yazdanpanah</a> © 2018 | All rights reserved. |
    </div>
  
    <script type="text/javascript" src="{% static 'js/masterfinal.js' %}"></script>
  </body>
  
  </html>
  