<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="utf-8">
  <title>News Center | مرکز اخبار</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bs/bootstrap.min.css">
  <link rel="stylesheet" href="css/MasterFinal.css">
  <link rel="stylesheet" href="css/newsCenter.css">
  <link rel="stylesheet" href="css/neededtelegram.css">
  <script src="js/bs/jquery.min.js"></script>
  <script src="js/bs/popper.min.js"></script>
  <script src="js/bs/bootstrap.min.js"></script>
  <script src="js/getCheckCookie.js"></script>
</head>

<body onload="checkCookie()">
  <button onclick="topFunction()" class="farsialignment" id="goToTopBtn" title="Go to top">
    <span class="english"> UP</span><span class="farsi"> بالا</span>
    <img src="img/chevron-top.svg" alt="" width="15px">
  </button>
  <!--Fixed top navbar-->
  <nav class="sticky-top navbar navbar-expand-lg navbar-orgcolor bg-orgcolor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navContent navbar-collapse" style="flex-grow:0 !important;-webkit-flex-grow: 0 !important;">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="index.html"><b style="font-size:25px;font-family: 'Lato', sans-serif !important">NJL</b></a>
        <ul class="navbar-nav headerItem r-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="about.html"><img src="img/webicon/Blue Outline Version/about-W.png" alt="" width="30px"><span class="english">About</span><span class="farsi">درباره ما</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="img\webicon\Blue Outline Version\Rprogram-W.png" alt="" width="30px"><span class="english">General Courses</span><span class="farsi">دوره ها</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="kidscourse.html"><span class="english">Kids</span><span class="farsi">کودکان</span></a>
              <a class="dropdown-item" href="teenagerscourse.html"><span class="english">Teenagers</span><span class="farsi">نوجوانان</span></a>
              <a class="dropdown-item" href="adultscourse.html"><span class="english">Adults</span><span class="farsi">بزرگسالان</span></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="img\webicon\Blue Outline Version\Sprogram-W.png" alt="" width="30px"><span class="english">Exams</span><span class="farsi">آزمون ها</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="ielts.html">IELTS</a>
              <a class="dropdown-item" href="toefl.html">TOEFL</a>
              <a class="dropdown-item" href="ept.html">EPT</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ttccourse.html"><img src="img/webicon/Blue Outline Version/TTC-W.png" alt="" width="30px"><span>TTC</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resources.html"><img src="img/webicon/Blue Outline Version/resources-W.png" alt="" width="30px"><span class="english">Resources</span><span class="farsi">منابع</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus.html"><img src="img/webicon/Blue Outline Version/iphone-W.png" alt="" width="30px"><span class="english">Contact Us</span><span class="farsi">تماس با ما</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="onlinelearning.html"><img src="img/webicon/Blue Outline Version/Onlinelearning-W.png" alt="" width="30px"><span class="english">Online Learning</span><span class="farsi">آموزش از راه دور</span></a>
          </li>
          <li class="nav-item">
            <a id="loginbuttonnobodypage" class="nav-link" href="http://njldistancelearning.com/login/index.php">
            <button id="loginbutton"type="button" class="btn btn-outline-white">
              <div class="navbar-link">
                <img id="myimg" src="img/webicon/Blue Outline Version/Lock.png" alt="" width="30px"><span class="english"> Login to LMS</span><span class="farsi">ورود به LMS</span>
              </div>
            </button>
        </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <!--banner & logo and Page title-->
    <div style="align-items: center; position: relative">
      <div id="DiscOverImg">
        <h1 class="english">News Center</h1>
        <h1 class="farsi" style="text-align: center !important">مرکز اخبار</h1>
        <p class="english"></p>
        <p class="farsi" style="text-align: center !important"></p>
      </div>
      <img id="fitImg" src="img/banner.png" alt="BannerImage">
      <div id="logoOverlap">
        <img class="imglogo" src="img/njl_Institute_Logo.png" alt="Logo Image">
      </div>
      </div>
  </header>

  <div class="container maincommenbody">
    <h1 class="english newsCenterCaptoion">Javid News Center</h1>
    <h1 class="farsi newsCenterCaptoion">مرکز اخبار جاوید</h1>
    <!-- Nav pills -->
    <ul class="nav nav-pills farsialignment" role="tablist" style="justify-content: center">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#cat1">
          <div class="english">catagory 1</div>
          <div class="farsi">بخش ۱</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#cat2">
          <div class="english">catagory 2</div>
          <div class="farsi">بخش ۲</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#cat3">
          <div class="english">catagory 3</div>
          <div class="farsi">بخش ۳</div>
        </a>
      </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top:10px">
      <div id="cat1" class="container tab-pane active" style="padding-bottom:10px"><br>
        <h3 class="catHeader english">Catagory 1</h3>
        <h3 class="catHeader farsi">بخش ۱</h3>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/0.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/1.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/2.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/0.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/1.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/2.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <nav class="newsPagination" aria-label="Page navigation">
          <ul class="pagination justify-content-center farsialignment">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"><span class="english">Previous</span><span class="farsi">قبل</span></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#"><span class="english">1</span><span class="farsi">۱</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="english">2</span><span class="farsi">۲</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="english">3</span><span class="farsi">۳</span></a></li>
            <li class="page-item">
              <a class="page-link" href="#"><span class="english">Next</span><span class="farsi">بعد</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="cat2" class="container tab-pane fade" style="padding-bottom:10px"><br>
        <h3 class="catHeader english">Catagory 2</h3>
        <h3 class="catHeader farsi">بخش ۲</h3>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/3.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/4.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/5.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <nav class="newsPagination" aria-label="Page navigation">
          <ul class="pagination justify-content-center farsialignment">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"><span class="english">Previous</span><span class="farsi">قبل</span></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#"><span class="english">1</span><span class="farsi">۱</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="english">2</span><span class="farsi">۲</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="english">3</span><span class="farsi">۳</span></a></li>
            <li class="page-item">
              <a class="page-link" href="#"><span class="english">Next</span><span class="farsi">بعد</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="cat3" class="container tab-pane fade" style="padding-bottom:10px"><br>
        <h3 class="catHeader english">Catagory 3</h3>
        <h3 class="catHeader farsi">بخش ۳</h3>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/6.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/7.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <a class="zoomEachNews" href="singlenewspage.html">
          <div class="container-fluid row farsialignment">
            <div class="newsThumbnail col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <img src="img/galleryimg/600/8.jpg" alt="">
            </div>
            <div class="newsContent col-sm-8 col-md-8 col-lg-7 col-xl-8">
              <h4 class="english">News/Article Header</h4>
              <h4 class="farsi">تیتر خبر / مقاله</h4>
              <p class="english">news in detail The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter
                with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe.</p>
              <p class="farsi">مدل عمومی آزمون آیلتس توانایی شما را در بکارگیری زبان انگلیسی در موقعیت های گسترده تر کاری و اجتماعی ارزیابی می کند. اگر تمایل دارید برای تکمیل تحصیلات متوسطه، کسب تجارب کاری و آموزشی که مدرک محور نیستند به کشورهای انگلیسی زبان سفر کنید
                مدل عمومی آیلتس برای شما مناسب تر است. این بخش همچنین برای اشخاصی که قصد مهاجرت به استرالیا، کانادا و یا نیوزلند را دارند الزامی است. این مدل در تمامی مراکز برگزاری امتحانات آیلتس ارائه نمی شود.</p>
            </div>
          </div>
        </a>
        <nav class="newsPagination" aria-label="Page navigation">
          <ul class="pagination justify-content-center farsialignment">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"><span class="english">Previous</span><span class="farsi">قبل</span></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#"><span class="english">1</span><span class="farsi">۱</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="english">2</span><span class="farsi">۲</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="english">3</span><span class="farsi">۳</span></a></li>
            <li class="page-item">
              <a class="page-link" href="#"><span class="english">Next</span><span class="farsi">بعد</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <footer id="footerAttr">
    <div class="container-fluid row">
      <!--Footer 1st colomn-->
      <div class="container col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <h3 class="english">Find us here!</h3>
        <h3 class="farsi" style="text-align:center">ما را اینجا پیدا کنید!</h3>
        <div id="map"></div>
        <div class="english" style="text-align:Left;width:300px;margin-right:auto;margin-left:auto">
          <b>Address:</b> NJL Institute, Derakhshani St, Ashrafi Esfahani Expy, Tehran, Iran.
        </div>
        <div class="farsi" style="text-align:right;width:300px;margin-right:auto;margin-left:auto">
          <b>آدرس: </b>تهران، بزرگراه اشرفی اصفهانی، کوچه درخشانی، موسسه زبان ندای جاوید 
        </div>
        <script>
          function initMap() {
            var mapboarder = {
              lat: 35.744124,
              lng: 51.336588
            };
            var markerr = {
              lat: 35.744255,
              lng: 51.334723
            };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              center: markerr
            });
            var marker = new google.maps.Marker({
              position: mapboarder,
              map: map
            });
          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPodOx_4C8n3TrzngrizGFUAm--Dgav7o&callback=initMap">
        </script>
      </div>
      <!--Footer 2nd colomn-->
      <div class="container col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <h3 class="english">Message us here!</h3>
        <h3 class="farsi" style="text-align:center">اینجا به ما پیام دهید!</h3>
        <!-- TELEGRAM PART-->
        <div class="telegramDiv">
          <div class="tgme_page tgme_page_post">
            <div class="tgme_page_photo">
              <a href="tg://resolve?domain=njlinstitute">
                <img class="tgme_page_photo_image" src="{% static 'img/telegramnjl.png' %}">
              </a>
            </div>
            <div class="tgme_page_title">
              آموزشگاه زبان ندای جاوید
            </div>
            <div class="tgme_page_extra">63 members</div>
            <div class="tgme_page_description">ارتباط با روابط عمومی
              <br>
              <a href="https://t.me/njl_institute">@njl_institute</a>
              <br>وب سایت
              <br>www.njl.institute
              <br>
              <br>پنل آموزش از راه دور
              <br>www.njldistancelearning.com
              <br>
              <br>کانال های تخصصی آموزشگاه زبان ندای جاوید
              <br>
              <a href="https://t.me/njlkids">@njlkids</a>
              <a href="https://t.me/njlteens">@njlteens</a>
              <a href="https://t.me/njladults">@njladults</a>
              <br>
              <br>
              <a href="https://t.me/njlttc">@njlttc</a>
              <a href="https://t.me/njlept">@njlept</a>
              <br>
              <br>
              <a href="https://t.me/njldistancelearning">@njldistancelearning</a>
            </div>
            <div class="tgme_page_action">
              <a class="tgme_action_button_new" href="tg://resolve?domain=njlinstitute">View Channel</a>
            </div>
            <!-- WEBOGRAM_BTN -->
            <div class="tgme_page_additional">
              If you have
              <strong>Telegram</strong>, you can view and join
              <br>
              <strong>آموزشگاه زبان ندای جاوید</strong> right away.
            </div>
          </div>
        </div>
      </div>
      <!--Footer 3rd colomn-->
      <div class="container col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <h3 class="farsi" style="text-align:center">!Change the Language Here</h3>
        <h3 class="english" style="text-align:center">!اینجا زبان را تغییر دهید</h3>
        <div class="btn-group" style="margin-top:8px;">
          <button type="button" class="btn btn-outline-white dropdown-toggle" data-toggle="dropdown">
            <span class="english">Site Language</span><span class="farsi">زبان سایت</span>
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" onclick="changelang2fa()"><img style="width:20px"src="img/ir.svg" alt="ir-icon"> فارسی</button>
            <button class="dropdown-item" onclick="changelang2en()"><img style="width:20px"src="img/gb.svg" alt="ir-icon"> English</button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--copyright-->
  <div id="copyright">
    | Designed & Developed by <a href="https://www.linkedin.com/in/imananoosheh/">Iman Anoosheh</a> & <a href="https://www.linkedin.com/in/ali-yazdanpanah-5a7b10146">Ali Yazdanpanah</a> © 2018 | All rights reserved. |
  </div>

  <script type="text/javascript" src="js/masterfinal.js"></script>
</body>

</html>
